//!===> Variable SCSS Folder Added 
@import '../utils/variables.scss';

.navbar {
    margin: 32px 165px 20px 165px;
    display: flex;
    justify-content: space-between;

    .header-log {
        width: 144px;
        height: 36px;
    }

    .nav ul {
        display: flex;
        gap: 60px;

        li {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 23px;
            color: $gray7;
            letter-spacing: 1.5px;
        }

        li:nth-child(5) {
            color: $gray7;
            padding-left: 110px;
            letter-spacing: 1.5px;
        }
    }
}